@{
    ViewBag.Title = "Index";
}

@section header_icon{
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
            <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</li>
        </ul>
    </div>
}

<h3>Тут будет многобукаф про то, какой хороший у нас сайт</h3>

